body {
    background-color: #181818;
    color: white;
    font-size: 18px;
}

html, body {
    margin: 0;
    padding: 0;
}
div {
    margin: 1%;
    flex: 1;
}
canvas {
    user-select: none;
    border-width: 2px;
    border-color: #909090;
    border-radius: 2px;
    border-style: dashed;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
    width: 100px;
}
#canvas-container {
    float: left;
}


#side-panel { 
    margin: auto;
    padding: 0px;
}

.side { 
    margin: auto;
    flex-direction: row;
    padding: 10px;
}
.side-csg { 
    margin: auto;
    padding: 10px;
    float: right;
}