textarea, input {
    font-family: monospace;
    display: block;
    height: auto;
    width: 300px;
    font-size: 16px;
    margin-bottom: 4%;
}
fieldset {
    display: inline-block;
    min-width: 600px;
    padding-right: 10px;
}
.fieldset-auto-width {
    display: inline-block;
    min-width: 550px;
    padding-right: 10px;
}
table {
    margin-bottom: 1%;
}
table, th, td {
    border: 0.5px solid;
    border-collapse: collapse;
    font-size: 16px;
}
thead {
    text-align: left;
    font-weight: bold;
    border: 2px solid
}
td {
    width: 200px;
    font-family: monospace;
    overflow: hidden;
    padding: 5px;
}
#saida, #saida-mais, #mostrar-mais {
    display: none;
}
#entrada-1, #entrada-2 {
    display: inline-block;
    padding-right: 10px;
}
#entrada-2 {
    vertical-align: top;
    padding-bottom: 10px;
}
button {
    margin-bottom: 2px;
    padding: 10px;
}
legend {
    font-size: 22px;
    font-weight: bold;
}
label {
    font-size: 18px;
    display: block;
    margin-bottom: 2%;
}